<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930784558134-0v56iv6tluodns2hp618lj8edrehavnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930784558134-0v56iv6tluodns2hp618lj8edrehavnl</string>
	<key>API_KEY</key>
	<string>AIzaSyD2ulnmHEQxehssoWAeizhh6dpiTERxuSY</string>
	<key>GCM_SENDER_ID</key>
	<string>930784558134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>barisozgen.YoutubeMusicCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>musicclone-76cec</string>
	<key>STORAGE_BUCKET</key>
	<string>musicclone-76cec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930784558134:ios:41bc943fd7d118dc8fec97</string>
</dict>
</plist>